<mat-spinner *ngIf="isLoading else page"></mat-spinner>
<ng-template #page>
    <mat-tab-group *ngIf="data?.length else noData" mat-stretch-tabs="true" mat-align-tabs="center" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="selectTab($event)">
        <mat-tab *ngFor="let typeOption of testTypeOptions" [label]="testTypeDisplayNames[typeOption]" >
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header><i class="fa-solid fa-list"></i></mat-expansion-panel-header>
                <filters [fields]="filterFields" (filtersChanged)="changeFilters(typeOption, $event)"></filters>
            </mat-expansion-panel>
            <data-table [columns]="tableFields" [dataSource]="sources[typeOption]" [tableName]="typeOption + ' Records'" sortableIconColor="#28c35f">
            </data-table>
        </mat-tab>
    </mat-tab-group>
</ng-template>

<ng-template #noData>
    <h2>
        No data found 😔
    </h2>
    <h4>
        Sometimes this just means it takes a long time to load.
    </h4>
    <h4>
        You might want to check out the other pages and come back in a minute or two.
    </h4>
    <p>
        If you want to know why it takes so long, take a look at <a (click)="moveToAboutSection('development-points')">the deployments section</a> of the <a routerLink="about">about page</a>
    </p>
</ng-template>