<div class="header">
  <div class="container">
    <mat-table [dataSource]="dataSource">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
        <mat-header-cell *matHeaderCellDef>
            <ng-container *ngIf="column.sortFunc; else sortlessColumn">
              <div class="sortable" (click)="sortData(column.sortFunc, column.name)">
                <i class="fa-solid fa-up-right-and-down-left-from-center rotated" [style]="{ color: sortableIconColor }"></i>
                {{ column.title ?? column.name }}
                <i *ngIf="previouslySortedField === column.name && sortDirection !== 0"
                  [class]="'fa-solid fa-arrow-' + (sortDirection > 0 ? 'up' : 'down')">
                </i>
              </div>
            </ng-container>
            <ng-template #sortlessColumn>
              {{ column.title ?? column.name }}
            </ng-template>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row[column.name] }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnNames"> </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" (page)="savePageSettings($event)"></mat-paginator>
  </div>
</div>