<mat-card>
  <mat-card-header>
    <mat-card-title> Currently there're 160 days available </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>List of topic based days:</p>
    <p>N5(1 - 19):</p>
    <ul>
      <li>colors(only part of the vocab for this day) - 1</li>
      <li>family - 2</li>
      <li>counters - day 9</li>
      <li>counters for days/days of the month - day 10</li>
      <li>a few more counters and days of the month - day 11</li>
    </ul>
    <p>N4(20 - 63):</p>
    <ul>
      <li>Words related to the suffixes - 54</li>
      <li>Suffixes – 55</li>
    </ul>
    <p>N3(64 - 175):</p>
    <ul>
      <li>Love & Emptiness - 64</li>
      <li>Food – 134</li>
      <li>Days of the week - 174</li>
    </ul>
  </mat-card-content>
  <mat-card-footer>
    <p class="note"> NOTE: </p>
    <p> There's no official list separating words into JLPT categories,
        so there's no definitive list of N5 or N4 words etc.
        The categories I gathered are based on pdfs from the internet but just
        know that some words may be in other JLPT levels depending on who you ask.
    </p>
  </mat-card-footer>
</mat-card>