<mat-card>
  <mat-card-header>
    <mat-card-title> Currently there're 160 days available </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>List of topic based days:</p>
    <ng-container *ngFor="let prof of availableProficiencies">
      <p>{{ prof }}({{ proficiencyRanges[prof] }}):</p>
      <ul>
        <li *ngFor="let theme of classes.get(prof)">{{ theme.title }} - {{ theme.dayNum }}</li>
      </ul>
    </ng-container>
  </mat-card-content>
  <mat-card-footer>
    <p class="note"> NOTE: </p>
    <p> There's no official list separating words into JLPT categories,
        so there's no definitive list of N5 or N4 words etc.
        The categories I gathered are based on pdfs from the internet but just
        know that some words may be in other JLPT levels depending on who you ask.
    </p>
  </mat-card-footer>
</mat-card>