@import '../../../styles.less';

:host {
    border: 0.5rem ridge rgb(197, 40, 197);
    display: flex;
    margin: auto;
    max-width: 50%;
    mat-card {
        color: inherit;
        background-color: inherit;

        mat-card-footer {
            padding: 2%;
        }
    }
}