@import "../../../styles.less";

:host {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  font-size: large;
  align-items: center;
  padding: 1% 0;
  z-index: 10;
  position: sticky;
  //Use -1px to make sure there's no content flashing at the top of the page when scrolling
  top: -1px;

  a {
    text-decoration: none;

    &.active {
      color: rgb(27, 160, 27);
      font-weight: bold;
      font-style: italic;
    }
  }

  mat-slide-toggle {
    float: right;
    padding: 0.1em 1em;
  }
}
